.header {
  width: min(82.9%, 31.1rem);
  margin: 3.2rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--header-outline);
  border-radius: 5px;
  padding: 1.2rem;
}

.logo {
  width: min(100%, 8.3rem);
}

.score-wrapper {
  background: var(--score-gradient);
  box-shadow: 0 0.3rem 0.3rem var(--shadow);
  border-radius: 4px;
  text-align: center;
  width: min(100%, 8rem);
  padding: 1.6rem 1.6rem 1.5rem;
}

.heading-score {
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1.5625px;
  text-align: center;
  color: var(--score-heading);
  text-transform: uppercase;
}

.user-score {
  display: block;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  color: var(--score-text);
}
