@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --font: "Barlow Semi Condensed", sans-serif;
  --white: hsl(0, 0%, 100%);
  --white-transparent: hsla(0, 0%, 100%, 0.05);
  --black: hsl(0, 0%, 0%);
  --light-gray: hsl(228, 25%, 91%);
  --dark-gray: hsl(228, 15%, 73%);
  --dark-text: hsl(229, 25%, 31%);
  --score-heading: hsl(229, 64%, 46%);
  --score-text: hsl(247, 10%, 37%);
  --header-outline: hsl(217, 16%, 45%);
  --bg-gradient: radial-gradient(
    134.34% 134.34% at 50% 0%,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );
  --score-gradient: linear-gradient(
    0deg,
    hsl(0, 0%, 95%) 0%,
    hsl(0, 0%, 100%) 100%
  );
  --scissors-gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --scissors-shadow: hsl(28, 77%, 44%);
  --paper-gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --paper-shadow: hsl(230, 64%, 46%);
  --rock-gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --rock-shadow: hsl(347, 75%, 35%);
  --icon-shadow: hsl(230, 23%, 78%);
  --icon-gradient: linear-gradient(
    0deg,
    hsl(0, 0%, 95%) 0%,
    hsl(0, 0%, 85%) 98.34%
  );
  --shadow: rgba(0, 0, 0, 0.196706);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font);
  color: var(--white);
  font-weight: 600;
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  font: inherit;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--white);
}
